In [1]:
#import dependencies
import pandas as pd

#load resource file
purchase_data_file = "Resources/purchase_data.csv"

#Read file and store it in a data frame
purchase_data_df = pd.read_csv(purchase_data_file)

#print first five lines to make sure it worked
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#calculate total number of players

#create list of unique players
players = purchase_data_df["SN"].unique()

#calculate length of list to get total number of players
total_players = len(players)

#create summary data frame
total_player_df = pd.DataFrame([{"Total Players": total_players}])

total_player_df

   Total Players
0            576

In [14]:
#calculate number of unique items

unique_items = purchase_data_df["Item Name"].unique()
number_unique_items = len(unique_items)

#calculate average purchase price

average_price = purchase_data_df["Price"].mean()

#calculate total number of purchases

total_purchases = purchase_data_df["Purchase ID"].count()

#calculate total revenue

total_revenue = purchase_data_df["Price"].sum()

#summary data frame
purchasing_analysis_df = pd.DataFrame([{"Number of Unique Items": number_unique_items,
                                       "Average Price": average_price,
                                       "Number of Purchases": total_purchases,
                                        "Total Revenue": total_revenue
                                       }])

#clean data frame
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)
purchasing_analysis_df["Average Price"]= purchasing_analysis_df["Average Price"].map("${:.2f}".format)

#print data frame
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [55]:
##calculate percentage and count of male players

#create a data frame of just male players
male_players_df = purchase_data_df[purchase_data_df["Gender"] == "Male"]

#calculate total number of male players from new data frame
unique_male_players = male_players_df["SN"].unique()
total_male_players = len(unique_male_players)

#calculate percent of male players by dividing total male players by total players
percent_male_players = (total_male_players) / (total_players)

##calculate percentage and count of female players

#create a data frame of just female players
female_players_df = purchase_data_df[purchase_data_df["Gender"] == "Female"]

#calculate total number of female players from new data frame
unique_female_players = female_players_df["SN"].unique()
total_female_players = len(unique_female_players)

#calculate percent of female players by dividing total female players by total players
percent_female_players = (total_female_players) / (total_players)

##calculate percentage and count of other/non-disclosed players

#create data frame of other/non-disclosed players
other_players_df = purchase_data_df[purchase_data_df["Gender"] == "Other / Non-Disclosed"]

#calculate total number of other/non-disclosed players from new data frame
unique_other_players = other_players_df["SN"].unique()
total_other_players = len(unique_other_players)

#calculate percent of other/non-disclosed players by dividing total other/non-disclosed players by total players
percent_other_players = (total_other_players) / (total_players)

#create summary data frame
gender_demographics_df = pd.DataFrame({"Gender": ["Male", "Female", "Other/Non-Disclosed"],
                                        "Total Count" : [total_male_players, total_female_players, total_other_players],
                                        "Percentage of Players": [percent_male_players, percent_female_players, percent_other_players]
                                       })

gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2%}".format)

#set gender as the index for easy read
clean_gender_demographics_df = gender_demographics_df.set_index("Gender")
clean_gender_demographics_df

                     Total Count Percentage of Players
Gender
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%